@model student;
<div class="text-center">


    <h1 class="display-10">Welcome to Assigment</h1>

    <hr />
    <center>
        <h3 class="display-10">Main Menus</h3>
        <p>in this Application, we have two menus:</p>
        <a asp-controller="stud" asp-action="lists" class="btn btn-primary">Student List</a>
        <a asp-controller="stud" asp-action="Registration" class="btn btn-success">New Student</a>
    </center>
</div>
